<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Spider</title>

    <!-- Bootstrap Core CSS -->
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="../dist/css/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="../bower_components/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" href="/index.html"></a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <a href="javascript:;" onclick="$.logout()"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="/index.html"><i class="fa fa-bar-chart-o fa-fw"></i> Analysis</a>
                        </li>
                        <li>
                            <a href="/machines.html"><i class="fa fa-laptop fa-fw"></i> Machines</a>
                        </li>
                        <li>
                            <a href="/profiles.html"><i class="fa fa-files-o fa-fw"></i> Profiles</a>
                        </li>
                        <li>
                            <a href="/clients.html"><i class="fa fa-tasks fa-fw"></i> Clients</a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header"><i class="fa fa-files-o"></i> Profile</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-files-o fa-fw"></i> Profile Basic Info 
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <form role="form">
                                        <div class="form-group">
                                            <label>Name</label>
                                            <input class="form-control" name="name" placeholder="Name">
                                         </div>
                                        <div class="form-group">
                                            <label>Description</label>
                                            <input class="form-control" name="description"  placeholder="Description">
                                        </div>

                                        <div class="form-group">
                                            <label>cpu_num_use(0~max)</label>
                                            <input class="form-control" name="cpu_num_use"  placeholder="1">
                                        </div>
                                        <div class="form-group">
                                            <label>cpu_use(0~1)</label>
                                            <input class="form-control" name="cpu_use"  placeholder="0.5">
                                        </div>
                                        <div class="form-group">
                                            <label>mem_use(0~1)</label>
                                            <input class="form-control" name="mem_use"  placeholder="0.25">
                                        </div>
                                        <div class="form-group">
                                            <label>disk_use(0~1)</label>
                                            <input class="form-control" name="disk_use"  placeholder="0.1">
                                        </div>
                                        <div class="form-group">
                                            <label>transport_use(0~1)</label>
                                            <input class="form-control" name="transport_use"  placeholder="0.2">
                                        </div>
                                        <div class="form-group">
                                            <label>receive_use(0~1)</label>
                                            <input class="form-control" name="receive_use"  placeholder="0.2">
                                        </div>
                                        <div class="form-group" name="docker-script">
                                            <label>Docker Script</label>
                                            <pre class="form-control-static"></pre>
                                        </div>
                                        <a onclick="submit()" class="btn btn-primary">Save</a>
                                        <!-- <button type="reset" class="btn btn-default">Reset Button</button> -->
                                    </form>
                                </div>
                                <!-- /.col-lg-6 (nested) -->

                                <!-- /.col-lg-6 (nested) -->
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../bower_components/metisMenu/dist/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../dist/js/sb-admin-2.js"></script>

</body>

<script type="text/javascript">

    var machine_id= $.getUrlParams().machine_id || '';
    var profile_id= $.getUrlParams().profile_id || '';
    if(profile_id){
        $.ajax({
            type: 'get',
            url: $.getApiHost('/user/profile/'+ profile_id),
            headers: {
                authorization: $.getCookie('authorization')
            },
            success: function (data) {
                $('input[name="name"]').val(data.name);
                $('input[name="description"]').val(data.description);
                $('input[name="cpu_use"]').val(data.cpu_use);
                $('input[name="cpu_num_use"]').val(data.cpu_num_use);
                $('input[name="mem_use"]').val(data.mem_use);
                $('input[name="disk_use"]').val(data.disk_use);
                $('input[name="transport_use"]').val(data.transport_use);
                $('input[name="receive_use"]').val(data.receive_use);
                $('div.form-group[name="docker-script"] pre').html((data.script || '').replace(/\s+/g, ' '));
                machine_id= data.machine_id;
            },
            error: function (error) {
                console.log(error);
            }
        });
    }else{
        $('div.form-group[name="docker-script"]').remove();
    }


    function submit () {
        $.ajax({
            type: profile_id ? 'put' : 'post',
            dataType: 'json',
            data:{
                name: $('input[name="name"]').val(),
                description: $('input[name="description"]').val(),
                os: $('input[name="os"]').val(),
                cpu_use: $('input[name="cpu_use"]').val(),
                cpu_num_use: $('input[name="cpu_num_use"]').val(),
                mem_use: $('input[name="mem_use"]').val(),
                disk_use: $('input[name="disk_use"]').val(),
                transport_use: $('input[name="transport_use"]').val(),
                receive_use: $('input[name="receive_use"]').val(),
                machine_id: machine_id,
            },
            headers: {
                authorization: $.getCookie('authorization')
            },
            url: $.getApiHost('/user/profile/'+ profile_id),
            success: function (ret) {
                console.log(ret);
                alert('success');
                window.location='/profiles.html';
            },
            error: function (error) {
                alert('error');
                console.log(error);
            }
        });
    }


</script>

</html>
